make_blueprint.sanitized.json
{
  "name": "Kommz System - CORRIGÉ",
  "flow": [
    {
      "id": 1,
      "module": "stripe:watchEvents",
      "version": 1,
      "parameters": {
        "__IMTHOOK__": "REDACTED_CONNECTION"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 1050
        },
        "restore": {
          "parameters": {
            "__IMTHOOK__": "REDACTED_CONNECTION"
          }
        },
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:stripe2",
            "label": "Webhook",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "created",
            "type": "date",
            "label": "Created"
          },
          {
            "name": "event_type",
            "type": "text",
            "label": "Event Type"
          },
          {
            "name": "event_id",
            "type": "text",
            "label": "Event ID"
          },
          {
            "name": "object",
            "spec": null,
            "type": "collection",
            "label": "Object"
          },
          {
            "name": "raw",
            "spec": [],
            "type": "collection",
            "label": "Raw Webhook Data"
          }
        ]
      }
    },
    {
      "id": 66,
      "module": "stripe:makeAnApiCall",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "REDACTED_CONNECTION"
      },
      "mapper": {
        "qs": [],
        "url": "/v1/checkout/sessions/{{1.object.id}}/line_items",
        "body": "",
        "method": "GET",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/x-www-form-urlencoded"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 1050
        },
        "restore": {
          "expect": {
            "method": {
              "label": "GET"
            },
            "headers": {
              "items": [
                null
              ]
            }
          },
          "parameters": {
            "__IMTCONN__": "REDACTED_CONNECTION"
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:stripe,stripe2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "text",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          }
        ]
      }
    },
    {
      "id": 96,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 1050
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 97,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Gamer Mensuel",
                "conditions": [
                  [
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Gamer",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Mensuel",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Voice",
                      "o": "text:notcontain"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "Produit",
                "scope": "roundtrip",
                "value": "Gamer Mensuel"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "Produit",
                    "type": "any",
                    "label": "Produit"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 98,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Timestamp",
                    "value": "{{formatDate(addDays(now; 30); \"X\")}}"
                  },
                  {
                    "name": "RandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null
                      ]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "Timestamp",
                    "type": "any",
                    "label": "Timestamp"
                  },
                  {
                    "name": "RandomID",
                    "type": "any",
                    "label": "RandomID"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 99,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "VTPKey",
                "scope": "roundtrip",
                "value": "VTP-{{98.Timestamp}}-{{98.RandomID}}-{{substring(upper(sha256(98.Timestamp + 98.RandomID + \"VTP-2025-MAKE-AUTOMATION-X99\")); 0; 8)}}"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "VTPKey",
                    "type": "any",
                    "label": "VTPKey"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 126,
              "module": "email:ActionSendEmail",
              "version": 7,
              "parameters": {
                "account": "REDACTED_CONNECTION",
                "saveAfterSent": false
              },
              "mapper": {
                "cc": [],
                "to": [
                  "{{1.object.customer_details.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<style>\r\n  /* RESET ET BASE */\r\n  body { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #09090b; color: #e2e8f0; }\r\n  \r\n  /* CONTENEUR PRINCIPAL */\r\n  .container { max-width: 600px; margin: 0 auto; background-color: #13131a; border: 1px solid #27272a; border-radius: 16px; overflow: hidden; }\r\n  \r\n  /* HEADER */\r\n  .header { background-color: #0f0f13; padding: 30px; text-align: center; border-bottom: 1px solid #27272a; }\r\n  .title { margin: 0; color: #ffffff; font-size: 26px; letter-spacing: -1px; }\r\n  .highlight { color: #a78bfa; text-shadow: 0 0 10px rgba(167, 139, 250, 0.3); }\r\n  .subtitle { margin: 5px 0 0 0; color: #94a3b8; font-size: 14px; }\r\n\r\n  /* CONTENU */\r\n  .content { padding: 35px; }\r\n  .intro { font-size: 16px; line-height: 1.6; color: #e2e8f0; margin-bottom: 25px; }\r\n\r\n  /* BOITE LICENCE */\r\n  .license-box { background-color: #15101f; border: 1px solid #7c3aed; border-radius: 12px; padding: 25px; text-align: center; margin-bottom: 30px; box-shadow: 0 4px 20px rgba(124, 58, 237, 0.1); }\r\n  .key-label { font-size: 11px; color: #a78bfa; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; display: block; margin-bottom: 10px; }\r\n  .license-key { font-family: 'Courier New', monospace; font-size: 18px; font-weight: bold; color: #ffffff; background-color: rgba(124, 58, 237, 0.2); padding: 8px 15px; border-radius: 6px; display: inline-block; word-break: break-all; }\r\n  .key-instruction { margin-top: 15px; font-size: 13px; color: #cbd5e1; font-style: italic; }\r\n\r\n  /* BOUTONS */\r\n  .btn-main { background-color: #7c3aed; color: #ffffff !important; padding: 15px 0; text-decoration: none; border-radius: 8px; font-weight: bold; display: block; text-align: center; font-size: 16px; margin-bottom: 30px; transition: background 0.3s; box-shadow: 0 4px 15px rgba(124, 58, 237, 0.4); }\r\n  \r\n  /* ZONE DRIVERS */\r\n  .drivers-area { background-color: #18181b; border: 1px dashed #3f3f46; border-radius: 10px; padding: 20px; text-align: center; margin-bottom: 30px; }\r\n  .drivers-title { font-size: 12px; color: #94a3b8; font-weight: bold; text-transform: uppercase; margin-bottom: 15px; display: block; }\r\n  .btn-driver { background-color: #27272a; color: #e2e8f0 !important; padding: 10px 15px; text-decoration: none; border-radius: 6px; font-size: 13px; display: inline-block; margin: 5px; border: 1px solid #3f3f46; font-weight: 500; }\r\n\r\n  /* INFO GUIDE INTEGRÉ */\r\n  .info-box { background-color: rgba(16, 185, 129, 0.1); border-left: 4px solid #10b981; padding: 20px; border-radius: 0 8px 8px 0; }\r\n  .info-title { color: #10b981; margin: 0 0 10px 0; font-size: 15px; font-weight: bold; text-transform: uppercase; display: flex; align-items: center; gap: 8px; }\r\n  .info-text { margin: 0; font-size: 14px; color: #e2e8f0; line-height: 1.5; }\r\n\r\n  /* FOOTER */\r\n  .footer { background-color: #0f0f13; padding: 25px; text-align: center; font-size: 12px; color: #64748b; border-top: 1px solid #27272a; }\r\n</style>\r\n</head>\r\n<body style=\"background-color: #09090b;\">\r\n\r\n<div class=\"container\">\r\n    \r\n    <div class=\"header\">\r\n        <h1 class=\"title\">KOMMZ <span class=\"highlight\">GAMER</span></h1>\r\n        <p class=\"subtitle\">Abonnement Mensuel • Confirmation</p>\r\n    </div>\r\n\r\n    <div class=\"content\">\r\n        <div class=\"intro\">\r\n            Bonjour,<br><br>\r\n            Merci pour votre confiance ! Votre abonnement <strong>Mensuel</strong> est actif. Vous avez désormais accès à la traduction IA en temps réel et au clonage vocal.\r\n        </div>\r\n\r\n        <div class=\"license-box\">\r\n            <span class=\"key-label\">VOTRE CLÉ D'ACTIVATION UNIQUE</span>\r\n            <span class=\"license-key\">{{99.VTPKey}}</span>\r\n            <div class=\"key-instruction\">\r\n                Copiez cette clé, lancez Kommz, et collez-la dans l'onglet \"Licence\".\r\n            </div>\r\n        </div>\r\n\r\n        <a href=\"#\" class=\"btn-main\">\r\n            🚀 TÉLÉCHARGER KOMMZ GAMER (Dernière Version)\r\n        </a>\r\n\r\n        <div class=\"drivers-area\">\r\n            <span class=\"drivers-title\">PRÉ-REQUIS SYSTÈME</span>\r\n            <p style=\"font-size: 13px; color: #cbd5e1; margin-top: 0; margin-bottom: 15px;\">\r\n                Pour que l'audio fonctionne, veuillez installer ce petit pilote gratuit avant de lancer Kommz :\r\n            </p>\r\n            <div>\r\n                <a href=\"https://download.vb-audio.com/Download_CABLE/VBCABLE_Driver_Pack45.zip\" class=\"btn-driver\">\r\n                    ⬇️ Télécharger VB-CABLE Driver\r\n                </a>\r\n            </div>\r\n        </div>\r\n\r\n        <div class=\"info-box\">\r\n            <div class=\"info-title\">✨ NOUVEAU : CONFIGURATION AUTOMATIQUE</div>\r\n            <p class=\"info-text\">\r\n                Plus besoin de lire des PDF compliqués !<br><br>\r\n                Lancez simplement <strong>Kommz Gamer</strong>. Un tutoriel interactif s'ouvrira automatiquement pour configurer votre micro et votre jeu en moins de 30 secondes.\r\n            </p>\r\n        </div>\r\n\r\n        <p style=\"font-size:12px; color:#94a3b8; text-align:center; margin-top: 20px;\">\r\n            Formule : {{97.Produit}} · Expire le : {{formatDate(parseDate(98.Timestamp; \"X\"); \"DD/MM/YYYY\")}}\r\n        </p>\r\n    </div>\r\n\r\n    <div class=\"footer\">\r\n        © 2026 Kommz Innovations.<br>\r\n        En cas de problème, répondez simplement à cet email.\r\n    </div>\r\n</div>\r\n\r\n</body>\r\n</html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🎮 Votre Licence Kommz Gamer (Mensuel) est prête !",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": "REDACTED_CONNECTION",
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "type": "hidden"
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 101,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Gamer Annuel",
                "conditions": [
                  [
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Gamer",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Annuel",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Voice",
                      "o": "text:notcontain"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "Produit",
                "scope": "roundtrip",
                "value": "Gamer Annuel"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 300
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "Produit",
                    "type": "any",
                    "label": "Produit"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 102,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Timestamp",
                    "value": "{{formatDate(addDays(now; 365); \"X\")}}"
                  },
                  {
                    "name": "RandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 300
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null
                      ]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "Timestamp",
                    "type": "any",
                    "label": "Timestamp"
                  },
                  {
                    "name": "RandomID",
                    "type": "any",
                    "label": "RandomID"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 103,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "VTPKey",
                "scope": "roundtrip",
                "value": "VTP-{{102.Timestamp}}-{{102.RandomID}}-{{substring(upper(sha256(102.Timestamp + 102.RandomID + \"VTP-2025-MAKE-AUTOMATION-X99\")); 0; 8)}}"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 300
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "VTPKey",
                    "type": "any",
                    "label": "VTPKey"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 104,
              "module": "email:ActionSendEmail",
              "version": 7,
              "parameters": {
                "account": "REDACTED_CONNECTION",
                "saveAfterSent": false
              },
              "mapper": {
                "cc": [],
                "to": [
                  "{{1.object.customer_details.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<style>\r\n  /* RESET ET BASE */\r\n  body { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #09090b; color: #e2e8f0; }\r\n  \r\n  /* CONTENEUR PRINCIPAL */\r\n  .container { max-width: 600px; margin: 0 auto; background-color: #13131a; border: 1px solid #27272a; border-radius: 16px; overflow: hidden; }\r\n  \r\n  /* HEADER */\r\n  .header { background-color: #0f0f13; padding: 30px; text-align: center; border-bottom: 1px solid #27272a; }\r\n  .title { margin: 0; color: #ffffff; font-size: 26px; letter-spacing: -1px; }\r\n  .highlight { color: #a78bfa; text-shadow: 0 0 10px rgba(167, 139, 250, 0.3); }\r\n  .subtitle { margin: 5px 0 0 0; color: #94a3b8; font-size: 14px; }\r\n\r\n  /* CONTENU */\r\n  .content { padding: 35px; }\r\n  .intro { font-size: 16px; line-height: 1.6; color: #e2e8f0; margin-bottom: 25px; }\r\n\r\n  /* BOITE LICENCE */\r\n  .license-box { background-color: #15101f; border: 1px solid #7c3aed; border-radius: 12px; padding: 25px; text-align: center; margin-bottom: 30px; box-shadow: 0 4px 20px rgba(124, 58, 237, 0.1); }\r\n  .key-label { font-size: 11px; color: #a78bfa; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; display: block; margin-bottom: 10px; }\r\n  .license-key { font-family: 'Courier New', monospace; font-size: 18px; font-weight: bold; color: #ffffff; background-color: rgba(124, 58, 237, 0.2); padding: 8px 15px; border-radius: 6px; display: inline-block; word-break: break-all; }\r\n  .key-instruction { margin-top: 15px; font-size: 13px; color: #cbd5e1; font-style: italic; }\r\n\r\n  /* BOUTONS */\r\n  .btn-main { background-color: #7c3aed; color: #ffffff !important; padding: 15px 0; text-decoration: none; border-radius: 8px; font-weight: bold; display: block; text-align: center; font-size: 16px; margin-bottom: 30px; transition: background 0.3s; box-shadow: 0 4px 15px rgba(124, 58, 237, 0.4); }\r\n  \r\n  /* ZONE DRIVERS */\r\n  .drivers-area { background-color: #18181b; border: 1px dashed #3f3f46; border-radius: 10px; padding: 20px; text-align: center; margin-bottom: 30px; }\r\n  .drivers-title { font-size: 12px; color: #94a3b8; font-weight: bold; text-transform: uppercase; margin-bottom: 15px; display: block; }\r\n  .btn-driver { background-color: #27272a; color: #e2e8f0 !important; padding: 10px 15px; text-decoration: none; border-radius: 6px; font-size: 13px; display: inline-block; margin: 5px; border: 1px solid #3f3f46; font-weight: 500; }\r\n\r\n  /* INFO GUIDE INTEGRÉ */\r\n  .info-box { background-color: rgba(16, 185, 129, 0.1); border-left: 4px solid #10b981; padding: 20px; border-radius: 0 8px 8px 0; }\r\n  .info-title { color: #10b981; margin: 0 0 10px 0; font-size: 15px; font-weight: bold; text-transform: uppercase; display: flex; align-items: center; gap: 8px; }\r\n  .info-text { margin: 0; font-size: 14px; color: #e2e8f0; line-height: 1.5; }\r\n\r\n  /* FOOTER */\r\n  .footer { background-color: #0f0f13; padding: 25px; text-align: center; font-size: 12px; color: #64748b; border-top: 1px solid #27272a; }\r\n</style>\r\n</head>\r\n<body style=\"background-color: #09090b;\">\r\n\r\n<div class=\"container\">\r\n    \r\n    <div class=\"header\">\r\n        <h1 class=\"title\">KOMMZ <span class=\"highlight\">GAMER</span></h1>\r\n        <p class=\"subtitle\">Abonnement Annuel • Confirmation</p>\r\n    </div>\r\n\r\n    <div class=\"content\">\r\n        <div class=\"intro\">\r\n            Bonjour,<br><br>\r\n            Merci pour votre confiance ! Votre abonnement <strong>Annuel</strong> est actif. Vous avez désormais accès à la traduction IA en temps réel et au clonage vocal pour les 12 prochains mois.\r\n        </div>\r\n\r\n        <div class=\"license-box\">\r\n            <span class=\"key-label\">VOTRE CLÉ D'ACTIVATION UNIQUE</span>\r\n            <span class=\"license-key\">{{103.VTPKey}}</span>\r\n            <div class=\"key-instruction\">\r\n                Copiez cette clé, lancez Kommz, et collez-la dans l'onglet \"Licence\".\r\n            </div>\r\n        </div>\r\n\r\n        <a href=\"#\" class=\"btn-main\">\r\n            🚀 TÉLÉCHARGER KOMMZ GAMER (Dernière Version)\r\n        </a>\r\n\r\n        <div class=\"drivers-area\">\r\n            <span class=\"drivers-title\">PRÉ-REQUIS SYSTÈME</span>\r\n            <p style=\"font-size: 13px; color: #cbd5e1; margin-top: 0; margin-bottom: 15px;\">\r\n                Pour que l'audio fonctionne, veuillez installer ce petit pilote gratuit avant de lancer Kommz :\r\n            </p>\r\n            <div>\r\n                <a href=\"https://download.vb-audio.com/Download_CABLE/VBCABLE_Driver_Pack45.zip\" class=\"btn-driver\">\r\n                    ⬇️ Télécharger VB-CABLE Driver\r\n                </a>\r\n            </div>\r\n        </div>\r\n\r\n        <div class=\"info-box\">\r\n            <div class=\"info-title\">✨ NOUVEAU : CONFIGURATION AUTOMATIQUE</div>\r\n            <p class=\"info-text\">\r\n                Plus besoin de lire des PDF compliqués !<br><br>\r\n                Lancez simplement <strong>Kommz Gamer</strong>. Un tutoriel interactif s'ouvrira automatiquement pour configurer votre micro et votre jeu en moins de 30 secondes.\r\n            </p>\r\n        </div>\r\n\r\n        <p style=\"font-size:12px; color:#94a3b8; text-align:center; margin-top: 20px;\">\r\n            Formule : {{101.Produit}} · Expire le : {{formatDate(parseDate(102.Timestamp; \"X\"); \"DD/MM/YYYY\")}}\r\n        </p>\r\n    </div>\r\n\r\n    <div class=\"footer\">\r\n        © 2026 Kommz Innovations.<br>\r\n        En cas de problème, répondez simplement à cet email.\r\n    </div>\r\n</div>\r\n\r\n</body>\r\n</html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🎮 Votre Licence Kommz Gamer Annuelle est prête !",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 300
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": "REDACTED_CONNECTION",
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "type": "hidden"
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 105,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Ultimate Mensuel",
                "conditions": [
                  [
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Ultimate",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Mensuel",
                      "o": "text:contain:ci"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "Produit",
                "scope": "roundtrip",
                "value": "Ultimate"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 600
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "Produit",
                    "type": "any",
                    "label": "Produit"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 106,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "Timestamp",
                    "value": "{{formatDate(addDays(now; 30); \"X\")}}"
                  },
                  {
                    "name": "RandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  },
                  {
                    "name": "VoiceRandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  }
                ],
                "scope": "roundtrip"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 600
                },
                "restore": {
                  "expect": {
                    "variables": {
                      "items": [
                        null,
                        null,
                        null
                      ]
                    },
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "type": "array",
                    "label": "Variables",
                    "spec": [
                      {
                        "name": "name",
                        "label": "Variable name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "name": "value",
                        "label": "Variable value",
                        "type": "any"
                      }
                    ]
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "Timestamp",
                    "label": "Timestamp",
                    "type": "any"
                  },
                  {
                    "name": "RandomID",
                    "label": "RandomID",
                    "type": "any"
                  },
                  {
                    "name": "VoiceRandomID",
                    "label": "VoiceRandomID",
                    "type": "any"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 107,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "VTPKey",
                    "value": "VTP-{{106.Timestamp}}-{{106.RandomID}}-{{substring(upper(sha256(106.Timestamp + 106.RandomID + \"VTP-2025-MAKE-AUTOMATION-X99\")); 0; 8)}}"
                  },
                  {
                    "name": "AccessKey",
                    "value": "KOMMZ-{{106.Timestamp}}-{{106.RandomID}}-{{substring(upper(sha256(\"KOMMZ-\" + 106.Timestamp + \"-\" + 106.RandomID)); 0; 4)}}"
                  },
                  {
                    "name": "VCVKey",
                    "value": "VCV-{{106.Timestamp}}-{{106.VoiceRandomID}}-{{substring(upper(sha256(106.Timestamp + 106.VoiceRandomID + \"VTP-KOMMZ-VOICE-2026-X77\")); 0; 8)}}"
                  }
                ],
                "scope": "roundtrip"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 600
                },
                "restore": {
                  "expect": {
                    "variables": {
                      "items": [
                        null,
                        null,
                        null
                      ]
                    },
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "type": "array",
                    "label": "Variables",
                    "spec": [
                      {
                        "name": "name",
                        "label": "Variable name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "name": "value",
                        "label": "Variable value",
                        "type": "any"
                      }
                    ]
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "VTPKey",
                    "label": "VTPKey",
                    "type": "any"
                  },
                  {
                    "name": "AccessKey",
                    "label": "AccessKey",
                    "type": "any"
                  },
                  {
                    "name": "VCVKey",
                    "label": "VCVKey",
                    "type": "any"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 108,
              "module": "email:ActionSendEmail",
              "version": 7,
              "parameters": {
                "account": "REDACTED_CONNECTION",
                "saveAfterSent": false
              },
              "mapper": {
                "cc": [],
                "to": [
                  "{{1.object.customer_details.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<style>\r\n  /* RESET ET BASE */\r\n  body { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #09090b; color: #e2e8f0; }\r\n  \r\n  /* CONTENEUR PRINCIPAL */\r\n  .container { max-width: 600px; margin: 0 auto; background-color: #13131a; border: 1px solid #27272a; border-radius: 16px; overflow: hidden; }\r\n  \r\n  /* HEADER */\r\n  .header { background-color: #0f0f13; padding: 30px; text-align: center; border-bottom: 1px solid #27272a; }\r\n  .title { margin: 0; color: #ffffff; font-size: 26px; letter-spacing: -1px; }\r\n  .highlight { color: #a78bfa; text-shadow: 0 0 10px rgba(167, 139, 250, 0.3); }\r\n  .subtitle { margin: 5px 0 0 0; color: #94a3b8; font-size: 14px; }\r\n\r\n  /* BOX STYLES */\r\n  .product-box { border-radius: 12px; padding: 25px; margin-bottom: 30px; position: relative; overflow: hidden; }\r\n  .box-gamer { background-color: #15101f; border: 1px solid #5b21b6; color: #e2e8f0; }\r\n  .box-access { background-color: #ffffff; border: 1px solid #bfdbfe; color: #REDACTED_ID; }\r\n  \r\n  .box-title { margin-top: 0; font-size: 18px; display: flex; align-items: center; gap: 10px; font-weight: 800; }\r\n  .title-gamer { color: #a78bfa; }\r\n  .title-access { color: #2563eb; }\r\n\r\n  /* KEYS */\r\n  .key-container { padding: 10px; border-radius: 6px; margin: 15px 0; }\r\n  .key-gamer-container { background-color: rgba(0,0,0,0.3); border: 1px dashed rgba(255,255,255,0.2); }\r\n  .key-access-container { background-color: #eff6ff; border: 1px dashed #60a5fa; }\r\n\r\n  .key-label { font-size: 11px; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; display: block; margin-bottom: 5px; opacity: 0.8; }\r\n  .license-key { font-family: 'Courier New', monospace; font-size: 16px; font-weight: bold; word-break: break-all; display: block; }\r\n  .key-gamer { color: #c4b5fd; }\r\n  .key-access { color: #1e40af; }\r\n\r\n  /* BUTTONS */\r\n  .btn { display: block; text-align: center; padding: 12px; border-radius: 8px; text-decoration: none; font-weight: bold; font-size: 14px; margin-bottom: 10px; transition: opacity 0.2s; }\r\n  .btn-gamer { background-color: #7c3aed; color: #ffffff !important; }\r\n  .btn-access { background-color: #2563eb; color: #ffffff !important; box-shadow: 0 2px 4px rgba(37, 99, 235, 0.2); }\r\n  \r\n  .btn-driver { background-color: #27272a; color: #9ca3af !important; border: 1px solid #REDACTED_ID; font-size: 12px; display: inline-block; width: 100%; box-sizing: border-box; text-align: center; padding: 10px; text-decoration: none; border-radius: 6px; }\r\n  \r\n  .btn-guide-access { background-color: #f8fafc; color: #REDACTED_ID !important; font-size: 12px; margin-top: 10px; border: 1px solid #cbd5e1; }\r\n\r\n  /* EXTRAS */\r\n  .info-integrated { background-color: rgba(139, 92, 246, 0.1); border: 1px solid rgba(139, 92, 246, 0.3); padding: 10px; border-radius: 6px; font-size: 12px; color: #ddd6fe; margin-top: 15px; text-align: center; }\r\n  .drivers-area { text-align: center; margin-top: 15px; padding-top: 15px; border-top: 1px solid rgba(255,255,255,0.1); }\r\n  .intro-text { text-align: center; margin-bottom: 30px; font-size: 15px; color: #cbd5e1; }\r\n  .footer { background-color: #0f0f13; padding: 20px; text-align: center; font-size: 12px; color: #6b7280; border-top: 1px solid #27272a; }\r\n</style>\r\n</head>\r\n<body style=\"background-color: #09090b;\">\r\n\r\n<div class=\"container\">\r\n    <div class=\"header\">\r\n        <h1 style=\"margin: 0; color: #ffffff; font-size: 26px; letter-spacing: -1px;\">KOMMZ <span style=\"background: -webkit-linear-gradient(left, #a78bfa, #60a5fa); -webkit-background-clip: text; -webkit-text-fill-color: transparent;\">ULTIMATE</span></h1>\r\n        <p style=\"margin: 5px 0 0 0; color: #94a3b8; font-size: 14px;\">Confirmation de commande</p>\r\n    </div>\r\n\r\n    <div class=\"content\">\r\n        <p class=\"intro-text\">\r\n            Merci pour votre achat !<br>\r\n            Vous avez désormais accès à la <strong>suite complète</strong> de nos outils.\r\n        </p>\r\n\r\n        <div class=\"product-box box-gamer\">\r\n            <h3 class=\"box-title title-gamer\">🎮 1. KOMMZ GAMER</h3>\r\n            \r\n            <div class=\"key-container key-gamer-container\">\r\n                <span class=\"key-label\" style=\"color: #a78bfa;\">CLÉ DE LICENCE</span>\r\n                <span class=\"license-key key-gamer\">{{107.VTPKey}}</span>\r\n            </div>\r\n\r\n            <a href=\"#\" class=\"btn btn-gamer\">\r\n                📥 TÉLÉCHARGER GAMER\r\n            </a>\r\n\r\n            <div class=\"drivers-area\">\r\n                <p style=\"font-size: 11px; color: #94a3b8; margin: 0 0 10px 0;\">PRÉ-REQUIS AUDIO OBLIGATOIRE :</p>\r\n                <a href=\"https://download.vb-audio.com/Download_CABLE/VBCABLE_Driver_Pack45.zip\" class=\"btn-driver\">⬇️ Télécharger VB-Cable Driver</a>\r\n            </div>\r\n\r\n            <div class=\"info-integrated\">\r\n                ✨ <strong>Nouveau :</strong> Le guide de configuration se lance automatiquement au démarrage du logiciel.\r\n            </div>\r\n        </div>\r\n\r\n        <div class=\"product-box box-access\">\r\n            <h3 class=\"box-title title-access\">🔓 2. KOMMZ ACCESS (Pro)</h3>\r\n            \r\n            <div class=\"key-container key-access-container\">\r\n                <span class=\"key-label\" style=\"color: #2563eb;\">CLÉ DE LICENCE</span>\r\n                <span class=\"license-key key-access\">{{107.AccessKey}}</span>\r\n            </div>\r\n\r\n            <a href=\"#\" class=\"btn btn-access\">\r\n                📥 TÉLÉCHARGER ACCESS\r\n            </a>\r\n            \r\n            <a href=\"https://mega.nz/file/5TRDFKJQ#2N6yftKtAwfn5ZYj26b5m92nzIhW61y4m49Q9ZNL1qI\" class=\"btn btn-guide-access\">\r\n                📘 GUIDE D'UTILISATION (PDF)\r\n            </a>\r\n        </div>\r\n\r\n        <p style=\"font-size:12px; color:#94a3b8; text-align:center;\">\r\n            Formule : {{105.Produit}} · Expire le : {{formatDate(parseDate(106.Timestamp; \"X\"); \"DD/MM/YYYY\")}}\r\n        </p>\r\n\r\n    </div>\r\n\r\n    <div class=\"footer\">\r\n        © 2026 Kommz Innovations.<br>\r\n        En cas de problème, répondez simplement à cet email.\r\n    </div>\r\n</div>\r\n\r\n</body>\r\n</html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🚀 Votre pack ULTIMATE (Gamer + Access) est activé !",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 600
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": "REDACTED_CONNECTION",
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "type": "hidden"
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 109,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Access - Mensuel",
                "conditions": [
                  [
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Access",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Mensuel",
                      "o": "text:contain:ci"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "Produit",
                "scope": "roundtrip",
                "value": "Access Mensuel"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 900
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "Produit",
                    "type": "any",
                    "label": "Produit"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 110,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Timestamp",
                    "value": "{{formatDate(addDays(now; 30); \"X\")}}"
                  },
                  {
                    "name": "RandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 900
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null
                      ]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "Timestamp",
                    "type": "any",
                    "label": "Timestamp"
                  },
                  {
                    "name": "RandomID",
                    "type": "any",
                    "label": "RandomID"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 111,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "AccessKey",
                "scope": "roundtrip",
                "value": "KOMMZ-{{110.Timestamp}}-{{110.RandomID}}-{{substring(upper(sha256(\"KOMMZ-\" + 110.Timestamp + \"-\" + 110.RandomID)); 0; 4)}}"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 900
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "AccessKey",
                    "type": "any",
                    "label": "AccessKey"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 112,
              "module": "email:ActionSendEmail",
              "version": 7,
              "parameters": {
                "account": "REDACTED_CONNECTION",
                "saveAfterSent": false
              },
              "mapper": {
                "cc": [],
                "to": [
                  "{{1.object.customer_details.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<style>\r\n  /* RESET ET BASE (THEME CLAIR) */\r\n  body { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f1f5f9; color: #REDACTED_ID; }\r\n  \r\n  /* CONTENEUR PRINCIPAL */\r\n  .container { max-width: 600px; margin: 40px auto; background-color: #ffffff; border: 1px solid #e2e8f0; border-radius: 16px; overflow: hidden; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); }\r\n  \r\n  /* HEADER */\r\n  .header { background-color: #ffffff; padding: 30px; text-align: center; border-bottom: 1px solid #f1f5f9; }\r\n  .title { margin: 0; color: #0f172a; font-size: 26px; letter-spacing: -0.5px; font-weight: 800; }\r\n  .highlight { color: #2563eb; } /* Bleu Access */\r\n  .subtitle { margin: 5px 0 0 0; color: #64748b; font-size: 14px; font-weight: 500; }\r\n\r\n  /* CONTENU */\r\n  .content { padding: 40px; }\r\n  .intro { font-size: 16px; line-height: 1.6; color: #REDACTED_ID; margin-bottom: 30px; }\r\n\r\n  /* BOITE LICENCE (STYLE PRO) */\r\n  .license-box { background-color: #eff6ff; border: 1px solid #bfdbfe; border-radius: 12px; padding: 25px; text-align: center; margin-bottom: 35px; }\r\n  .key-label { font-size: 11px; color: #2563eb; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; display: block; margin-bottom: 10px; }\r\n  .license-key { font-family: 'Courier New', monospace; font-size: 18px; font-weight: bold; color: #1e40af; background-color: #ffffff; padding: 10px 20px; border-radius: 6px; display: inline-block; word-break: break-all; border: 1px dashed #60a5fa; }\r\n  .key-instruction { margin-top: 15px; font-size: 13px; color: #64748b; font-style: italic; }\r\n\r\n  /* BOUTONS */\r\n  .btn-main { background-color: #2563eb; color: #ffffff !important; padding: 16px 0; text-decoration: none; border-radius: 8px; font-weight: bold; display: block; text-align: center; font-size: 16px; margin-bottom: 12px; transition: background 0.3s; box-shadow: 0 4px 6px rgba(37, 99, 235, 0.2); }\r\n  \r\n  .btn-guide { background-color: #ffffff; color: #REDACTED_ID !important; padding: 14px 0; text-decoration: none; border-radius: 8px; font-weight: 600; display: block; text-align: center; font-size: 14px; margin-bottom: 35px; border: 2px solid #e2e8f0; transition: all 0.2s; }\r\n\r\n  /* ZONE ASTUCES (PROPRE) */\r\n  .tips-box { background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 4px solid #f59e0b; padding: 25px; border-radius: 0 8px 8px 0; margin-bottom: 35px; }\r\n  .tips-title { color: #d97706; margin: 0 0 15px 0; font-size: 14px; font-weight: bold; text-transform: uppercase; display: flex; align-items: center; gap: 8px; }\r\n  .tips-list { list-style: none; padding: 0; margin: 0; font-size: 14px; color: #REDACTED_ID; line-height: 1.6; }\r\n  .tips-list li { margin-bottom: 12px; display: flex; gap: 10px; align-items: flex-start; }\r\n\r\n  /* DRIVER */\r\n  .drivers-area { text-align: center; border-top: 1px solid #f1f5f9; padding-top: 25px; }\r\n  .btn-driver { background-color: #f8fafc; color: #64748b !important; padding: 8px 16px; text-decoration: none; border-radius: 6px; font-size: 12px; display: inline-block; border: 1px solid #cbd5e1; font-weight: 600; }\r\n\r\n  /* FOOTER */\r\n  .footer { background-color: #f8fafc; padding: 25px; text-align: center; font-size: 12px; color: #94a3b8; border-top: 1px solid #e2e8f0; }\r\n</style>\r\n</head>\r\n<body style=\"background-color: #f1f5f9;\">\r\n\r\n<div class=\"container\">\r\n    \r\n    <div class=\"header\">\r\n        <h1 class=\"title\">KOMMZ <span class=\"highlight\">ACCESS</span></h1>\r\n        <p class=\"subtitle\">Abonnement Mensuel • Confirmation</p>\r\n    </div>\r\n\r\n    <div class=\"content\">\r\n        <div class=\"intro\">\r\n            Bonjour,<br><br>\r\n            Merci pour votre confiance ! Votre abonnement <strong>Mensuel</strong> est actif. Vous disposez désormais de tous les outils d'accessibilité (transcription, analyse, résumé) en illimité.\r\n        </div>\r\n\r\n        <div class=\"license-box\">\r\n            <span class=\"key-label\">VOTRE CLÉ D'ACTIVATION UNIQUE</span>\r\n            <span class=\"license-key\">{{111.AccessKey}}</span>\r\n            <div class=\"key-instruction\">\r\n                Copiez cette clé, lancez Kommz Access, et collez-la au premier démarrage.\r\n            </div>\r\n        </div>\r\n\r\n        <a href=\"#\" class=\"btn-main\">\r\n            📥 TÉLÉCHARGER LE LOGICIEL\r\n        </a>\r\n\r\n        <a href=\"https://mega.nz/file/5TRDFKJQ#2N6yftKtAwfn5ZYj26b5m92nzIhW61y4m49Q9ZNL1qI\" class=\"btn-guide\">\r\n            📘 TÉLÉCHARGER LE GUIDE PDF\r\n        </a>\r\n\r\n        <div class=\"tips-box\">\r\n            <div class=\"tips-title\">💡 Astuces de Productivité</div>\r\n            <ul class=\"tips-list\">\r\n                <li>\r\n                    <span>👻</span>\r\n                    <span><strong>Mode Fantôme :</strong> Un clic sur l'icône fantôme rend le fond transparent. Idéal pour afficher les sous-titres par-dessus vos documents de travail.</span>\r\n                </li>\r\n                <li>\r\n                    <span>🧠</span>\r\n                    <span><strong>Résumé IA :</strong> À la fin d'une réunion, cliquez sur le cerveau pour générer instantanément un compte-rendu structuré.</span>\r\n                </li>\r\n                <li>\r\n                    <span>🎙️</span>\r\n                    <span><strong>Réunions en ligne :</strong> Pour que vos interlocuteurs entendent votre voix synthétique (Teams/Zoom), sélectionnez le micro <em>CABLE Output</em> dans les paramètres de l'appel.</span>\r\n                </li>\r\n            </ul>\r\n        </div>\r\n\r\n        <div class=\"drivers-area\">\r\n            <p style=\"font-size: 11px; color: #94a3b8; margin: 0 0 10px 0; text-transform: uppercase; font-weight: bold;\">Requis pour l'audio :</p>\r\n            <a href=\"https://download.vb-audio.com/Download_CABLE/VBCABLE_Driver_Pack45.zip\" class=\"btn-driver\">\r\n                ⬇️ Télécharger VB-CABLE Driver (Gratuit)\r\n            </a>\r\n        </div>\r\n\r\n        <p style=\"font-size:12px; color:#94a3b8; text-align:center; margin-top: 30px;\">\r\n            Formule : {{109.Produit}} · Expire le : {{formatDate(parseDate(110.Timestamp; \"X\"); \"DD/MM/YYYY\")}}\r\n        </p>\r\n\r\n    </div>\r\n\r\n    <div class=\"footer\">\r\n        © 2026 Kommz Innovations.<br>\r\n        Besoin d'aide ? Répondez simplement à cet email.\r\n    </div>\r\n</div>\r\n\r\n</body>\r\n</html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🔓 Votre Licence Kommz ACCESS (Mensuel) est prête !",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 900
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": "REDACTED_CONNECTION",
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "type": "hidden"
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 113,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Access - Annuel",
                "conditions": [
                  [
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Access",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Annuel",
                      "o": "text:contain:ci"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "Produit",
                "scope": "roundtrip",
                "value": "Access Annuel"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 1200
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "Produit",
                    "type": "any",
                    "label": "Produit"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 114,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Timestamp",
                    "value": "{{formatDate(addDays(now; 365); \"X\")}}"
                  },
                  {
                    "name": "RandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 1200
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null
                      ]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "Timestamp",
                    "type": "any",
                    "label": "Timestamp"
                  },
                  {
                    "name": "RandomID",
                    "type": "any",
                    "label": "RandomID"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 115,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "AccessKey",
                "scope": "roundtrip",
                "value": "KOMMZ-{{114.Timestamp}}-{{114.RandomID}}-{{substring(upper(sha256(\"KOMMZ-\" + 114.Timestamp + \"-\" + 114.RandomID)); 0; 4)}}"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 1200
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "AccessKey",
                    "type": "any",
                    "label": "AccessKey"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 116,
              "module": "email:ActionSendEmail",
              "version": 7,
              "parameters": {
                "account": "REDACTED_CONNECTION",
                "saveAfterSent": false
              },
              "mapper": {
                "cc": [],
                "to": [
                  "{{1.object.customer_details.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<style>\r\n  /* RESET ET BASE (THEME CLAIR) */\r\n  body { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f1f5f9; color: #REDACTED_ID; }\r\n  \r\n  /* CONTENEUR PRINCIPAL */\r\n  .container { max-width: 600px; margin: 40px auto; background-color: #ffffff; border: 1px solid #e2e8f0; border-radius: 16px; overflow: hidden; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); }\r\n  \r\n  /* HEADER */\r\n  .header { background-color: #ffffff; padding: 30px; text-align: center; border-bottom: 1px solid #f1f5f9; }\r\n  .title { margin: 0; color: #0f172a; font-size: 26px; letter-spacing: -0.5px; font-weight: 800; }\r\n  .highlight { color: #2563eb; } /* Bleu Access */\r\n  .subtitle { margin: 5px 0 0 0; color: #64748b; font-size: 14px; font-weight: 500; }\r\n\r\n  /* CONTENU */\r\n  .content { padding: 40px; }\r\n  .intro { font-size: 16px; line-height: 1.6; color: #REDACTED_ID; margin-bottom: 30px; }\r\n\r\n  /* BOITE LICENCE (STYLE PRO) */\r\n  .license-box { background-color: #eff6ff; border: 1px solid #bfdbfe; border-radius: 12px; padding: 25px; text-align: center; margin-bottom: 35px; }\r\n  .key-label { font-size: 11px; color: #2563eb; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; display: block; margin-bottom: 10px; }\r\n  .license-key { font-family: 'Courier New', monospace; font-size: 18px; font-weight: bold; color: #1e40af; background-color: #ffffff; padding: 10px 20px; border-radius: 6px; display: inline-block; word-break: break-all; border: 1px dashed #60a5fa; }\r\n  .key-instruction { margin-top: 15px; font-size: 13px; color: #64748b; font-style: italic; }\r\n\r\n  /* BOUTONS */\r\n  .btn-main { background-color: #2563eb; color: #ffffff !important; padding: 16px 0; text-decoration: none; border-radius: 8px; font-weight: bold; display: block; text-align: center; font-size: 16px; margin-bottom: 12px; transition: background 0.3s; box-shadow: 0 4px 6px rgba(37, 99, 235, 0.2); }\r\n  \r\n  .btn-guide { background-color: #ffffff; color: #REDACTED_ID !important; padding: 14px 0; text-decoration: none; border-radius: 8px; font-weight: 600; display: block; text-align: center; font-size: 14px; margin-bottom: 35px; border: 2px solid #e2e8f0; transition: all 0.2s; }\r\n\r\n  /* ZONE ASTUCES (PROPRE) */\r\n  .tips-box { background-color: #ffffff; border: 1px solid #e2e8f0; border-left: 4px solid #f59e0b; padding: 25px; border-radius: 0 8px 8px 0; margin-bottom: 35px; }\r\n  .tips-title { color: #d97706; margin: 0 0 15px 0; font-size: 14px; font-weight: bold; text-transform: uppercase; display: flex; align-items: center; gap: 8px; }\r\n  .tips-list { list-style: none; padding: 0; margin: 0; font-size: 14px; color: #REDACTED_ID; line-height: 1.6; }\r\n  .tips-list li { margin-bottom: 12px; display: flex; gap: 10px; align-items: flex-start; }\r\n\r\n  /* DRIVER */\r\n  .drivers-area { text-align: center; border-top: 1px solid #f1f5f9; padding-top: 25px; }\r\n  .btn-driver { background-color: #f8fafc; color: #64748b !important; padding: 8px 16px; text-decoration: none; border-radius: 6px; font-size: 12px; display: inline-block; border: 1px solid #cbd5e1; font-weight: 600; }\r\n\r\n  /* FOOTER */\r\n  .footer { background-color: #f8fafc; padding: 25px; text-align: center; font-size: 12px; color: #94a3b8; border-top: 1px solid #e2e8f0; }\r\n</style>\r\n</head>\r\n<body style=\"background-color: #f1f5f9;\">\r\n\r\n<div class=\"container\">\r\n    \r\n    <div class=\"header\">\r\n        <h1 class=\"title\">KOMMZ <span class=\"highlight\">ACCESS</span></h1>\r\n        <p class=\"subtitle\">Abonnement Annuel • Confirmation</p>\r\n    </div>\r\n\r\n    <div class=\"content\">\r\n        <div class=\"intro\">\r\n            Bonjour,<br><br>\r\n            Merci pour votre confiance ! Votre abonnement <strong>Annuel</strong> est actif. Vous disposez désormais de tous les outils d'accessibilité (transcription, analyse, résumé) en illimité pour les 12 prochains mois.\r\n        </div>\r\n\r\n        <div class=\"license-box\">\r\n            <span class=\"key-label\">VOTRE CLÉ D'ACTIVATION UNIQUE</span>\r\n            <span class=\"license-key\">{{115.AccessKey}}</span>\r\n            <div class=\"key-instruction\">\r\n                Copiez cette clé, lancez Kommz Access, et collez-la au premier démarrage.\r\n            </div>\r\n        </div>\r\n\r\n        <a href=\"#\" class=\"btn-main\">\r\n            📥 TÉLÉCHARGER LE LOGICIEL\r\n        </a>\r\n\r\n        <a href=\"https://mega.nz/file/5TRDFKJQ#2N6yftKtAwfn5ZYj26b5m92nzIhW61y4m49Q9ZNL1qI\" class=\"btn-guide\">\r\n            📘 TÉLÉCHARGER LE GUIDE PDF\r\n        </a>\r\n\r\n        <div class=\"tips-box\">\r\n            <div class=\"tips-title\">💡 Astuces de Productivité</div>\r\n            <ul class=\"tips-list\">\r\n                <li>\r\n                    <span>👻</span>\r\n                    <span><strong>Mode Fantôme :</strong> Un clic sur l'icône fantôme rend le fond transparent. Idéal pour afficher les sous-titres par-dessus vos documents de travail.</span>\r\n                </li>\r\n                <li>\r\n                    <span>🧠</span>\r\n                    <span><strong>Résumé IA :</strong> À la fin d'une réunion, cliquez sur le cerveau pour générer instantanément un compte-rendu structuré.</span>\r\n                </li>\r\n                <li>\r\n                    <span>🎙️</span>\r\n                    <span><strong>Réunions en ligne :</strong> Pour que vos interlocuteurs entendent votre voix synthétique (Teams/Zoom), sélectionnez le micro <em>CABLE Output</em> dans les paramètres de l'appel.</span>\r\n                </li>\r\n            </ul>\r\n        </div>\r\n\r\n        <div class=\"drivers-area\">\r\n            <p style=\"font-size: 11px; color: #94a3b8; margin: 0 0 10px 0; text-transform: uppercase; font-weight: bold;\">Requis pour l'audio :</p>\r\n            <a href=\"https://download.vb-audio.com/Download_CABLE/VBCABLE_Driver_Pack45.zip\" class=\"btn-driver\">\r\n                ⬇️ Télécharger VB-CABLE Driver (Gratuit)\r\n            </a>\r\n        </div>\r\n\r\n        <p style=\"font-size:12px; color:#94a3b8; text-align:center; margin-top: 30px;\">\r\n            Formule : {{113.Produit}} · Expire le : {{formatDate(parseDate(114.Timestamp; \"X\"); \"DD/MM/YYYY\")}}\r\n        </p>\r\n\r\n    </div>\r\n\r\n    <div class=\"footer\">\r\n        © 2026 Kommz Innovations.<br>\r\n        Besoin d'aide ? Répondez simplement à cet email.\r\n    </div>\r\n</div>\r\n\r\n</body>\r\n</html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🔓 Votre Licence Kommz ACCESS (Annuel) est prête !",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 1200
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": "REDACTED_CONNECTION",
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "type": "hidden"
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 117,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Bundle Voice + Mensuel",
                "conditions": [
                  [
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Voice",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Mensuel",
                      "o": "text:contain:ci"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "Produit",
                "scope": "roundtrip",
                "value": "Bundle Voice Mensuel"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 1500
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "Produit",
                    "type": "any",
                    "label": "Produit"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 118,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Timestamp",
                    "value": "{{formatDate(addDays(now; 30); \"X\")}}"
                  },
                  {
                    "name": "RandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  },
                  {
                    "name": "VoiceTimestamp",
                    "value": "{{formatDate(addDays(now; 30); \"X\")}}"
                  },
                  {
                    "name": "VoiceRandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 1500
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null,
                        null,
                        null
                      ]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "Timestamp",
                    "type": "any",
                    "label": "Timestamp"
                  },
                  {
                    "name": "RandomID",
                    "type": "any",
                    "label": "RandomID"
                  },
                  {
                    "name": "VoiceTimestamp",
                    "type": "any",
                    "label": "VoiceTimestamp"
                  },
                  {
                    "name": "VoiceRandomID",
                    "type": "any",
                    "label": "VoiceRandomID"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 119,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "VTPKey",
                    "value": "VTP-{{118.Timestamp}}-{{118.RandomID}}-{{substring(upper(sha256(118.Timestamp + 118.RandomID + \"VTP-2025-MAKE-AUTOMATION-X99\")); 0; 8)}}"
                  },
                  {
                    "name": "VCVKey",
                    "value": "VCV-{{118.VoiceTimestamp}}-{{118.VoiceRandomID}}-{{substring(upper(sha256(118.VoiceTimestamp + 118.VoiceRandomID + \"VTP-KOMMZ-VOICE-2026-X77\")); 0; 8)}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 1500
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null
                      ]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "VTPKey",
                    "type": "any",
                    "label": "VTPKey"
                  },
                  {
                    "name": "VCVKey",
                    "type": "any",
                    "label": "VCVKey"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 120,
              "module": "email:ActionSendEmail",
              "version": 7,
              "parameters": {
                "account": "REDACTED_CONNECTION",
                "saveAfterSent": false
              },
              "mapper": {
                "cc": [],
                "to": [
                  "{{1.object.customer_details.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<style>\r\n  /* RESET ET BASE (DARK THEME) */\r\n  body { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #09090b; color: #e2e8f0; }\r\n  \r\n  /* CONTENEUR */\r\n  .container { max-width: 600px; margin: 0 auto; background-color: #13131a; border: 1px solid #27272a; border-radius: 16px; overflow: hidden; }\r\n  \r\n  /* HEADER */\r\n  .header { background-color: #0f0f13; padding: 30px; text-align: center; border-bottom: 1px solid #27272a; }\r\n  .title { margin: 0; color: #ffffff; font-size: 26px; letter-spacing: -1px; }\r\n  .highlight { color: #a78bfa; text-shadow: 0 0 10px rgba(167, 139, 250, 0.3); }\r\n  .subtitle { margin: 5px 0 0 0; color: #94a3b8; font-size: 14px; }\r\n\r\n  /* CONTENT */\r\n  .content { padding: 35px; }\r\n  .intro { font-size: 16px; line-height: 1.6; color: #e2e8f0; margin-bottom: 25px; text-align: center; }\r\n\r\n  /* DUAL KEYS BOXES */\r\n  .license-container { display: flex; flex-direction: column; gap: 15px; margin-bottom: 30px; }\r\n  \r\n  .key-box { padding: 20px; border-radius: 10px; text-align: center; position: relative; overflow: hidden; }\r\n  \r\n  /* Gamer Style */\r\n  .box-gamer { background-color: #0f172a; border: 1px solid #3b82f6; }\r\n  .label-gamer { color: #60a5fa; font-size: 11px; font-weight: 800; text-transform: uppercase; letter-spacing: 1px; display: block; margin-bottom: 5px; }\r\n  .key-gamer { font-family: 'Courier New', monospace; font-size: 16px; font-weight: bold; color: #eff6ff; background: rgba(59, 130, 246, 0.2); padding: 8px 12px; border-radius: 6px; display: inline-block; word-break: break-all; }\r\n\r\n  /* Voice Style */\r\n  .box-voice { background-color: #1e1b4b; border: 1px solid #8b5cf6; }\r\n  .label-voice { color: #a78bfa; font-size: 11px; font-weight: 800; text-transform: uppercase; letter-spacing: 1px; display: block; margin-bottom: 5px; }\r\n  .key-voice { font-family: 'Courier New', monospace; font-size: 16px; font-weight: bold; color: #f5f3ff; background: rgba(139, 92, 246, 0.2); padding: 8px 12px; border-radius: 6px; display: inline-block; word-break: break-all; }\r\n\r\n  /* BUTTONS */\r\n  .btn-main { background-color: #7c3aed; color: #ffffff !important; padding: 15px 0; text-decoration: none; border-radius: 8px; font-weight: bold; display: block; text-align: center; font-size: 16px; margin-bottom: 30px; box-shadow: 0 4px 15px rgba(124, 58, 237, 0.4); }\r\n  \r\n  .btn-driver { background-color: #27272a; color: #e2e8f0 !important; padding: 10px 15px; text-decoration: none; border-radius: 6px; font-size: 13px; display: inline-block; margin: 5px; border: 1px solid #3f3f46; font-weight: 500; }\r\n\r\n  /* DRIVERS AREA */\r\n  .drivers-area { background-color: #18181b; border: 1px dashed #3f3f46; border-radius: 10px; padding: 20px; text-align: center; margin-bottom: 30px; }\r\n  .drivers-title { font-size: 12px; color: #94a3b8; font-weight: bold; text-transform: uppercase; margin-bottom: 10px; display: block; }\r\n\r\n  /* INFO BOX */\r\n  .info-box { background-color: rgba(16, 185, 129, 0.1); border-left: 4px solid #10b981; padding: 15px; border-radius: 0 8px 8px 0; font-size: 13px; line-height: 1.5; color: #e2e8f0; }\r\n\r\n  /* FOOTER */\r\n  .footer { background-color: #0f0f13; padding: 25px; text-align: center; font-size: 12px; color: #64748b; border-top: 1px solid #27272a; }\r\n</style>\r\n</head>\r\n<body style=\"background-color: #09090b;\">\r\n\r\n<div class=\"container\">\r\n    <div class=\"header\">\r\n        <h1 class=\"title\">KOMMZ <span class=\"highlight\">GAMER + VOICE</span></h1>\r\n        <p class=\"subtitle\">Bundle Mensuel • Confirmation</p>\r\n    </div>\r\n\r\n    <div class=\"content\">\r\n        <div class=\"intro\">\r\n            Bonjour,<br>\r\n            Merci pour votre achat ! Votre <strong>Bundle Gamer + Voice</strong> est actif.<br>\r\n            Voici vos deux clés de licence personnelles :\r\n        </div>\r\n\r\n        <div class=\"license-container\">\r\n            <div class=\"key-box box-gamer\">\r\n                <span class=\"label-gamer\">🎮 CLÉ KOMMZ GAMER</span>\r\n                <span class=\"key-gamer\">{{119.VTPKey}}</span>\r\n            </div>\r\n\r\n            <div class=\"key-box box-voice\">\r\n                <span class=\"label-voice\">🎙️ CLÉ VOICE (Clonage)</span>\r\n                <span class=\"key-voice\">{{119.VCVKey}}</span>\r\n            </div>\r\n        </div>\r\n\r\n        <a href=\"#\" class=\"btn-main\">\r\n            🚀 TÉLÉCHARGER LE PACK GAMER\r\n        </a>\r\n\r\n        <div class=\"drivers-area\">\r\n            <span class=\"drivers-title\">PRÉ-REQUIS AUDIO (INDISPENSABLE)</span>\r\n            <p style=\"font-size: 12px; color: #cbd5e1; margin: 0 0 10px 0;\">\r\n                Pour que le module Voice fonctionne, installez ce driver :\r\n            </p>\r\n            <a href=\"https://download.vb-audio.com/Download_CABLE/VBCABLE_Driver_Pack45.zip\" class=\"btn-driver\">\r\n                ⬇️ Télécharger VB-CABLE Driver\r\n            </a>\r\n        </div>\r\n\r\n        <div class=\"info-box\">\r\n            <strong>✨ Configuration Automatique :</strong><br>\r\n            Lancez simplement le logiciel. Un guide interactif configurera votre micro et le moteur de voix en quelques secondes.\r\n        </div>\r\n\r\n        <p style=\"font-size:12px; color:#94a3b8; text-align:center; margin-top: 30px;\">\r\n            Formule : {{117.Produit}} · Expire le : {{formatDate(parseDate(118.Timestamp; \"X\"); \"DD/MM/YYYY\")}}\r\n        </p>\r\n    </div>\r\n\r\n    <div class=\"footer\">\r\n        © 2026 Kommz Innovations.<br>\r\n        En cas de problème, répondez simplement à cet email.\r\n    </div>\r\n</div>\r\n\r\n</body>\r\n</html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🎙️ Vos 2 Licences Kommz Gamer + Voice (Mensuel) sont prêtes !",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 1500
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": "REDACTED_CONNECTION",
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "type": "hidden"
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 121,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Bundle Voice + Annuel",
                "conditions": [
                  [
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Voice",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Annuel",
                      "o": "text:contain:ci"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "Produit",
                "scope": "roundtrip",
                "value": "Bundle Voice Annuel"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 1800
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "Produit",
                    "type": "any",
                    "label": "Produit"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 122,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "Timestamp",
                    "value": "{{formatDate(addDays(now; 365); \"X\")}}"
                  },
                  {
                    "name": "RandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  },
                  {
                    "name": "VoiceTimestamp",
                    "value": "{{formatDate(addDays(now; 365); \"X\")}}"
                  },
                  {
                    "name": "VoiceRandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 1800
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null,
                        null,
                        null
                      ]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "Timestamp",
                    "type": "any",
                    "label": "Timestamp"
                  },
                  {
                    "name": "RandomID",
                    "type": "any",
                    "label": "RandomID"
                  },
                  {
                    "name": "VoiceTimestamp",
                    "type": "any",
                    "label": "VoiceTimestamp"
                  },
                  {
                    "name": "VoiceRandomID",
                    "type": "any",
                    "label": "VoiceRandomID"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 123,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "scope": "roundtrip",
                "variables": [
                  {
                    "name": "VTPKey",
                    "value": "VTP-{{122.Timestamp}}-{{122.RandomID}}-{{substring(upper(sha256(122.Timestamp + 122.RandomID + \"VTP-2025-MAKE-AUTOMATION-X99\")); 0; 8)}}"
                  },
                  {
                    "name": "VCVKey",
                    "value": "VCV-{{122.VoiceTimestamp}}-{{122.VoiceRandomID}}-{{substring(upper(sha256(122.VoiceTimestamp + 122.VoiceRandomID + \"VTP-KOMMZ-VOICE-2026-X77\")); 0; 8)}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 1800
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    },
                    "variables": {
                      "items": [
                        null,
                        null
                      ]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                      }
                    ],
                    "type": "array",
                    "label": "Variables"
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "VTPKey",
                    "type": "any",
                    "label": "VTPKey"
                  },
                  {
                    "name": "VCVKey",
                    "type": "any",
                    "label": "VCVKey"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 124,
              "module": "email:ActionSendEmail",
              "version": 7,
              "parameters": {
                "account": "REDACTED_CONNECTION",
                "saveAfterSent": false
              },
              "mapper": {
                "cc": [],
                "to": [
                  "{{1.object.customer_details.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<style>\r\n  /* RESET ET BASE (DARK THEME) */\r\n  body { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #09090b; color: #e2e8f0; }\r\n  \r\n  /* CONTENEUR */\r\n  .container { max-width: 600px; margin: 0 auto; background-color: #13131a; border: 1px solid #27272a; border-radius: 16px; overflow: hidden; }\r\n  \r\n  /* HEADER */\r\n  .header { background-color: #0f0f13; padding: 30px; text-align: center; border-bottom: 1px solid #27272a; }\r\n  .title { margin: 0; color: #ffffff; font-size: 26px; letter-spacing: -1px; }\r\n  .highlight { color: #a78bfa; text-shadow: 0 0 10px rgba(167, 139, 250, 0.3); }\r\n  .subtitle { margin: 5px 0 0 0; color: #94a3b8; font-size: 14px; }\r\n\r\n  /* CONTENT */\r\n  .content { padding: 35px; }\r\n  .intro { font-size: 16px; line-height: 1.6; color: #e2e8f0; margin-bottom: 25px; text-align: center; }\r\n\r\n  /* DUAL KEYS BOXES */\r\n  .license-container { display: flex; flex-direction: column; gap: 15px; margin-bottom: 30px; }\r\n  \r\n  .key-box { padding: 20px; border-radius: 10px; text-align: center; position: relative; overflow: hidden; }\r\n  \r\n  /* Gamer Style */\r\n  .box-gamer { background-color: #0f172a; border: 1px solid #3b82f6; }\r\n  .label-gamer { color: #60a5fa; font-size: 11px; font-weight: 800; text-transform: uppercase; letter-spacing: 1px; display: block; margin-bottom: 5px; }\r\n  .key-gamer { font-family: 'Courier New', monospace; font-size: 16px; font-weight: bold; color: #eff6ff; background: rgba(59, 130, 246, 0.2); padding: 8px 12px; border-radius: 6px; display: inline-block; word-break: break-all; }\r\n\r\n  /* Voice Style */\r\n  .box-voice { background-color: #1e1b4b; border: 1px solid #8b5cf6; }\r\n  .label-voice { color: #a78bfa; font-size: 11px; font-weight: 800; text-transform: uppercase; letter-spacing: 1px; display: block; margin-bottom: 5px; }\r\n  .key-voice { font-family: 'Courier New', monospace; font-size: 16px; font-weight: bold; color: #f5f3ff; background: rgba(139, 92, 246, 0.2); padding: 8px 12px; border-radius: 6px; display: inline-block; word-break: break-all; }\r\n\r\n  /* BUTTONS */\r\n  .btn-main { background-color: #7c3aed; color: #ffffff !important; padding: 15px 0; text-decoration: none; border-radius: 8px; font-weight: bold; display: block; text-align: center; font-size: 16px; margin-bottom: 30px; box-shadow: 0 4px 15px rgba(124, 58, 237, 0.4); }\r\n  \r\n  .btn-driver { background-color: #27272a; color: #e2e8f0 !important; padding: 10px 15px; text-decoration: none; border-radius: 6px; font-size: 13px; display: inline-block; margin: 5px; border: 1px solid #3f3f46; font-weight: 500; }\r\n\r\n  /* DRIVERS AREA */\r\n  .drivers-area { background-color: #18181b; border: 1px dashed #3f3f46; border-radius: 10px; padding: 20px; text-align: center; margin-bottom: 30px; }\r\n  .drivers-title { font-size: 12px; color: #94a3b8; font-weight: bold; text-transform: uppercase; margin-bottom: 10px; display: block; }\r\n\r\n  /* INFO BOX */\r\n  .info-box { background-color: rgba(16, 185, 129, 0.1); border-left: 4px solid #10b981; padding: 15px; border-radius: 0 8px 8px 0; font-size: 13px; line-height: 1.5; color: #e2e8f0; }\r\n\r\n  /* FOOTER */\r\n  .footer { background-color: #0f0f13; padding: 25px; text-align: center; font-size: 12px; color: #64748b; border-top: 1px solid #27272a; }\r\n</style>\r\n</head>\r\n<body style=\"background-color: #09090b;\">\r\n\r\n<div class=\"container\">\r\n    <div class=\"header\">\r\n        <h1 class=\"title\">KOMMZ <span class=\"highlight\">GAMER + VOICE</span></h1>\r\n        <p class=\"subtitle\">Bundle Annuel • Confirmation</p>\r\n    </div>\r\n\r\n    <div class=\"content\">\r\n        <div class=\"intro\">\r\n            Bonjour,<br>\r\n            Merci pour votre achat ! Votre <strong>Bundle Gamer + Voice (Annuel)</strong> est actif.<br>\r\n            Voici vos deux clés de licence personnelles :\r\n        </div>\r\n\r\n        <div class=\"license-container\">\r\n            <div class=\"key-box box-gamer\">\r\n                <span class=\"label-gamer\">🎮 CLÉ KOMMZ GAMER</span>\r\n                <span class=\"key-gamer\">{{123.VTPKey}}</span>\r\n            </div>\r\n\r\n            <div class=\"key-box box-voice\">\r\n                <span class=\"label-voice\">🎙️ CLÉ VOICE (Clonage)</span>\r\n                <span class=\"key-voice\">{{123.VCVKey}}</span>\r\n            </div>\r\n        </div>\r\n\r\n        <a href=\"#\" class=\"btn-main\">\r\n            🚀 TÉLÉCHARGER LE PACK GAMER\r\n        </a>\r\n\r\n        <div class=\"drivers-area\">\r\n            <span class=\"drivers-title\">PRÉ-REQUIS AUDIO (INDISPENSABLE)</span>\r\n            <p style=\"font-size: 12px; color: #cbd5e1; margin: 0 0 10px 0;\">\r\n                Pour que le module Voice fonctionne, installez ce driver :\r\n            </p>\r\n            <a href=\"https://download.vb-audio.com/Download_CABLE/VBCABLE_Driver_Pack45.zip\" class=\"btn-driver\">\r\n                ⬇️ Télécharger VB-CABLE Driver\r\n            </a>\r\n        </div>\r\n\r\n        <div class=\"info-box\">\r\n            <strong>✨ Configuration Automatique :</strong><br>\r\n            Lancez simplement le logiciel. Un guide interactif configurera votre micro et le moteur de voix en quelques secondes.\r\n        </div>\r\n\r\n        <p style=\"font-size:12px; color:#94a3b8; text-align:center; margin-top: 30px;\">\r\n            Formule : {{121.Produit}} · Expire le : {{formatDate(parseDate(122.Timestamp; \"X\"); \"DD/MM/YYYY\")}}\r\n        </p>\r\n    </div>\r\n\r\n    <div class=\"footer\">\r\n        © 2026 Kommz Innovations.<br>\r\n        En cas de problème, répondez simplement à cet email.\r\n    </div>\r\n</div>\r\n\r\n</body>\r\n</html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🎙️ Vos 2 Licences Kommz Gamer + Voice ANNUELLES sont prêtes !",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 1800
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": "REDACTED_CONNECTION",
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "type": "hidden"
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 147,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Ultimate Annuel",
                "conditions": [
                  [
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Ultimate",
                      "o": "text:contain:ci"
                    },
                    {
                      "a": "{{66.body.data[].description}}",
                      "b": "Annuel",
                      "o": "text:contain:ci"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "Produit",
                "scope": "roundtrip",
                "value": "Ultimate"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 2100
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "Produit",
                    "type": "any",
                    "label": "Produit"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 148,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "Timestamp",
                    "value": "{{formatDate(addDays(now; 365); \"X\")}}"
                  },
                  {
                    "name": "RandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  },
                  {
                    "name": "VoiceRandomID",
                    "value": "{{floor(random * 9000) + 1000}}"
                  }
                ],
                "scope": "roundtrip"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 2100
                },
                "restore": {
                  "expect": {
                    "variables": {
                      "items": [
                        null,
                        null,
                        null
                      ]
                    },
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "type": "array",
                    "label": "Variables",
                    "spec": [
                      {
                        "name": "name",
                        "label": "Variable name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "name": "value",
                        "label": "Variable value",
                        "type": "any"
                      }
                    ]
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "Timestamp",
                    "label": "Timestamp",
                    "type": "any"
                  },
                  {
                    "name": "RandomID",
                    "label": "RandomID",
                    "type": "any"
                  },
                  {
                    "name": "VoiceRandomID",
                    "label": "VoiceRandomID",
                    "type": "any"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 149,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "VTPKey",
                    "value": "VTP-{{148.Timestamp}}-{{148.RandomID}}-{{substring(upper(sha256(148.Timestamp + 148.RandomID + \"VTP-2025-MAKE-AUTOMATION-X99\")); 0; 8)}}"
                  },
                  {
                    "name": "AccessKey",
                    "value": "KOMMZ-{{148.Timestamp}}-{{148.RandomID}}-{{substring(upper(sha256(\"KOMMZ-\" + 148.Timestamp + \"-\" + 148.RandomID)); 0; 4)}}"
                  },
                  {
                    "name": "VCVKey",
                    "value": "VCV-{{148.Timestamp}}-{{148.VoiceRandomID}}-{{substring(upper(sha256(148.Timestamp + 148.VoiceRandomID + \"VTP-KOMMZ-VOICE-2026-X77\")); 0; 8)}}"
                  }
                ],
                "scope": "roundtrip"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 2100
                },
                "restore": {
                  "expect": {
                    "variables": {
                      "items": [
                        null,
                        null,
                        null
                      ]
                    },
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "type": "array",
                    "label": "Variables",
                    "spec": [
                      {
                        "name": "name",
                        "label": "Variable name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "name": "value",
                        "label": "Variable value",
                        "type": "any"
                      }
                    ]
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "VTPKey",
                    "label": "VTPKey",
                    "type": "any"
                  },
                  {
                    "name": "AccessKey",
                    "label": "AccessKey",
                    "type": "any"
                  },
                  {
                    "name": "VCVKey",
                    "label": "VCVKey",
                    "type": "any"
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 150,
              "module": "email:ActionSendEmail",
              "version": 7,
              "parameters": {
                "account": "REDACTED_CONNECTION",
                "saveAfterSent": false
              },
              "mapper": {
                "cc": [],
                "to": [
                  "{{1.object.customer_details.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n<style>\r\n  /* RESET ET BASE */\r\n  body { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #09090b; color: #e2e8f0; }\r\n  \r\n  /* CONTENEUR PRINCIPAL */\r\n  .container { max-width: 600px; margin: 0 auto; background-color: #13131a; border: 1px solid #27272a; border-radius: 16px; overflow: hidden; }\r\n  \r\n  /* HEADER */\r\n  .header { background-color: #0f0f13; padding: 30px; text-align: center; border-bottom: 1px solid #27272a; }\r\n  .title { margin: 0; color: #ffffff; font-size: 26px; letter-spacing: -1px; }\r\n  .highlight { color: #a78bfa; text-shadow: 0 0 10px rgba(167, 139, 250, 0.3); }\r\n  .subtitle { margin: 5px 0 0 0; color: #94a3b8; font-size: 14px; }\r\n\r\n  /* BOX STYLES */\r\n  .product-box { border-radius: 12px; padding: 25px; margin-bottom: 30px; position: relative; overflow: hidden; }\r\n  .box-gamer { background-color: #15101f; border: 1px solid #5b21b6; color: #e2e8f0; }\r\n  .box-access { background-color: #ffffff; border: 1px solid #bfdbfe; color: #REDACTED_ID; }\r\n  \r\n  .box-title { margin-top: 0; font-size: 18px; display: flex; align-items: center; gap: 10px; font-weight: 800; }\r\n  .title-gamer { color: #a78bfa; }\r\n  .title-access { color: #2563eb; }\r\n\r\n  /* KEYS */\r\n  .key-container { padding: 10px; border-radius: 6px; margin: 15px 0; }\r\n  .key-gamer-container { background-color: rgba(0,0,0,0.3); border: 1px dashed rgba(255,255,255,0.2); }\r\n  .key-access-container { background-color: #eff6ff; border: 1px dashed #60a5fa; }\r\n\r\n  .key-label { font-size: 11px; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; display: block; margin-bottom: 5px; opacity: 0.8; }\r\n  .license-key { font-family: 'Courier New', monospace; font-size: 16px; font-weight: bold; word-break: break-all; display: block; }\r\n  .key-gamer { color: #c4b5fd; }\r\n  .key-access { color: #1e40af; }\r\n\r\n  /* BUTTONS */\r\n  .btn { display: block; text-align: center; padding: 12px; border-radius: 8px; text-decoration: none; font-weight: bold; font-size: 14px; margin-bottom: 10px; transition: opacity 0.2s; }\r\n  .btn-gamer { background-color: #7c3aed; color: #ffffff !important; }\r\n  .btn-access { background-color: #2563eb; color: #ffffff !important; box-shadow: 0 2px 4px rgba(37, 99, 235, 0.2); }\r\n  \r\n  .btn-driver { background-color: #27272a; color: #9ca3af !important; border: 1px solid #REDACTED_ID; font-size: 12px; display: inline-block; width: 100%; box-sizing: border-box; text-align: center; padding: 10px; text-decoration: none; border-radius: 6px; }\r\n  \r\n  .btn-guide-access { background-color: #f8fafc; color: #REDACTED_ID !important; font-size: 12px; margin-top: 10px; border: 1px solid #cbd5e1; }\r\n\r\n  /* EXTRAS */\r\n  .info-integrated { background-color: rgba(139, 92, 246, 0.1); border: 1px solid rgba(139, 92, 246, 0.3); padding: 10px; border-radius: 6px; font-size: 12px; color: #ddd6fe; margin-top: 15px; text-align: center; }\r\n  .drivers-area { text-align: center; margin-top: 15px; padding-top: 15px; border-top: 1px solid rgba(255,255,255,0.1); }\r\n  .intro-text { text-align: center; margin-bottom: 30px; font-size: 15px; color: #cbd5e1; }\r\n  .footer { background-color: #0f0f13; padding: 20px; text-align: center; font-size: 12px; color: #6b7280; border-top: 1px solid #27272a; }\r\n</style>\r\n</head>\r\n<body style=\"background-color: #09090b;\">\r\n\r\n<div class=\"container\">\r\n    <div class=\"header\">\r\n        <h1 style=\"margin: 0; color: #ffffff; font-size: 26px; letter-spacing: -1px;\">KOMMZ <span style=\"background: -webkit-linear-gradient(left, #a78bfa, #60a5fa); -webkit-background-clip: text; -webkit-text-fill-color: transparent;\">ULTIMATE</span></h1>\r\n        <p style=\"margin: 5px 0 0 0; color: #94a3b8; font-size: 14px;\">Confirmation de commande</p>\r\n    </div>\r\n\r\n    <div class=\"content\">\r\n        <p class=\"intro-text\">\r\n            Merci pour votre achat !<br>\r\n            Vous avez désormais accès à la <strong>suite complète</strong> de nos outils.\r\n        </p>\r\n\r\n        <div class=\"product-box box-gamer\">\r\n            <h3 class=\"box-title title-gamer\">🎮 1. KOMMZ GAMER</h3>\r\n            \r\n            <div class=\"key-container key-gamer-container\">\r\n                <span class=\"key-label\" style=\"color: #a78bfa;\">CLÉ DE LICENCE</span>\r\n                <span class=\"license-key key-gamer\">{{149.VTPKey}}</span>\r\n            </div>\r\n\r\n            <a href=\"#\" class=\"btn btn-gamer\">\r\n                📥 TÉLÉCHARGER GAMER\r\n            </a>\r\n\r\n            <div class=\"drivers-area\">\r\n                <p style=\"font-size: 11px; color: #94a3b8; margin: 0 0 10px 0;\">PRÉ-REQUIS AUDIO OBLIGATOIRE :</p>\r\n                <a href=\"https://download.vb-audio.com/Download_CABLE/VBCABLE_Driver_Pack45.zip\" class=\"btn-driver\">⬇️ Télécharger VB-Cable Driver</a>\r\n            </div>\r\n\r\n            <div class=\"info-integrated\">\r\n                ✨ <strong>Nouveau :</strong> Le guide de configuration se lance automatiquement au démarrage du logiciel.\r\n            </div>\r\n        </div>\r\n\r\n        <div class=\"product-box box-access\">\r\n            <h3 class=\"box-title title-access\">🔓 2. KOMMZ ACCESS (Pro)</h3>\r\n            \r\n            <div class=\"key-container key-access-container\">\r\n                <span class=\"key-label\" style=\"color: #2563eb;\">CLÉ DE LICENCE</span>\r\n                <span class=\"license-key key-access\">{{149.AccessKey}}</span>\r\n            </div>\r\n\r\n            <a href=\"#\" class=\"btn btn-access\">\r\n                📥 TÉLÉCHARGER ACCESS\r\n            </a>\r\n            \r\n            <a href=\"https://mega.nz/file/5TRDFKJQ#2N6yftKtAwfn5ZYj26b5m92nzIhW61y4m49Q9ZNL1qI\" class=\"btn btn-guide-access\">\r\n                📘 GUIDE D'UTILISATION (PDF)\r\n            </a>\r\n        </div>\r\n\r\n        <p style=\"font-size:12px; color:#94a3b8; text-align:center;\">\r\n            Formule : {{147.Produit}} · Expire le : {{formatDate(parseDate(148.Timestamp; \"X\"); \"DD/MM/YYYY\")}}\r\n        </p>\r\n\r\n    </div>\r\n\r\n    <div class=\"footer\">\r\n        © 2026 Kommz Innovations.<br>\r\n        En cas de problème, répondez simplement à cet email.\r\n    </div>\r\n</div>\r\n\r\n</body>\r\n</html>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🚀 Votre pack ULTIMATE (Annuel) (Gamer + Access) est activé !",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 2100
                },
                "restore": {
                  "expect": {
                    "cc": {
                      "mode": "chose"
                    },
                    "to": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bcc": {
                      "mode": "chose"
                    },
                    "priority": {
                      "label": "Normal"
                    },
                    "references": {
                      "mode": "chose"
                    },
                    "attachments": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "HTML"
                    }
                  },
                  "parameters": {
                    "account": "REDACTED_CONNECTION",
                    "saveAfterSent": {
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "saveAfterSent",
                    "type": "select",
                    "label": "Save message after sending",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "type": "hidden"
                  }
                ],
                "expect": [
                  {
                    "name": "to",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address",
                      "required": true
                    },
                    "type": "array",
                    "label": "To",
                    "required": true
                  },
                  {
                    "name": "subject",
                    "type": "text",
                    "label": "Subject"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content Type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "html",
                        "text"
                      ]
                    }
                  },
                  {
                    "name": "attachments",
                    "spec": [
                      {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      },
                      {
                        "name": "cid",
                        "type": "text",
                        "label": "Content-ID"
                      }
                    ],
                    "type": "array",
                    "label": "Attachments"
                  },
                  {
                    "name": "cc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Copy recipient"
                  },
                  {
                    "name": "bcc",
                    "spec": {
                      "name": "value",
                      "type": "email",
                      "label": "Email address"
                    },
                    "type": "array",
                    "label": "Blind copy recipient"
                  },
                  {
                    "name": "from",
                    "type": "text",
                    "label": "From"
                  },
                  {
                    "name": "sender",
                    "type": "text",
                    "label": "Sender"
                  },
                  {
                    "name": "replyTo",
                    "type": "text",
                    "label": "Reply-To"
                  },
                  {
                    "name": "inReplyTo",
                    "type": "text",
                    "label": "In-Reply-To"
                  },
                  {
                    "name": "references",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Reference",
                      "required": true
                    },
                    "type": "array",
                    "label": "References"
                  },
                  {
                    "name": "priority",
                    "type": "select",
                    "label": "Priority",
                    "validate": {
                      "enum": [
                        "high",
                        "normal",
                        "low"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "html",
                    "type": "text",
                    "label": "Content"
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
  }
}